@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);

html { overflow:hidden }
body { font:12px/1.6 arial; color:#555; }


.autoClock {
    position:fixed; top:100px;
    left:300px; z-index:9999;
    font-size:30px; color:#000;
    transition:all 0.5s;
}


#menu { position:fixed; top:50%; transform:translateY(-50%); left:50px; z-index:99 }
#menu li {  margin:10px 0  }
#menu li a { display:block; height:20px;  width:20px;
    border-radius:50%; background-color:red;
    position:relative 
}
#menu li.on a { background-color:blue; transform:scale(1.2) }
#menu li a span { position:absolute; top:3px; left:30px; 
    width:100px; display:none; }    
#menu li.on a span { display:block }




section { 
    width:100vw; 
    height:100vh; 
    position:relative;
    border:1px solid #f00;
    overflow:hidden; 
}

.slideInner { position:relative }
.slideInner .slide {
    height:100vh; 
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right center;
    position:relative;
}
.slideInner .slide1 {
    background-image:url(../img/bg1.jpg)
}
.slideInner .slide2 {
    background-image:url(../img/bg2.jpg)
}
.slideInner .slide3 {
    background-image:url(../img/bg3.jpg)
}
.slideInner .slide4 {
    background-image:url(../img/bg4.jpg)
}
.slideInner .text { position:absolute;  top:50%;
    transform:translateY(-50%); left:300px; 
    font-size:80px; width:600px; }

.slideInner .text p:nth-child(1) { 
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.slideInner .text p:nth-child(2) { 
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.slideInner .slide.slick-active .text p:nth-child(1) {
    animation:fadeInRight 0.5s both 0.6s;
}
.slideInner .slide.slick-active .text p:nth-child(2) {
    animation:fadeInLeft 0.5s both 0.6s;
}

.slideInner .slide1 .text p { 
    background: linear-gradient(to right, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
.slideInner .slide2 .text p { 
    background: linear-gradient(to left, #f00 40%, #00f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideInner .slide3 .text p { 
    background: linear-gradient(to right top, #f00 30%, #00f 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
.slideInner .slide4 .text p { 
    background: linear-gradient(to right, #f00 10%, #00f 15%, #0f0 35%, #f0f 50%, #0ff 60%, #ff5800 75%, #f05 87%, #ff7fd3 95%, #326d18 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideInner .slick-dots {
    position:absolute; 
    bottom:50px; 
    width:100%; 
    text-align:center; 
}
.slideInner .slick-dots li { 
    display:inline-block;
    width:100px; height:3px; background-color:#fff;
    margin:0 3px; 
    position:relative; 
}
/* .slideInner .slick-dots li:nth-child(2):before {  
    content:'홍길동 홍길동 홍길동';
    word-break:keep-all; line-height:1.2;
    color:#fff;
    font-size:16px;
    position:absolute; bottom:3px; left:0;
    width:100%; text-align:center; 
} */

.slideInner .slick-dots li button { 
    border:none; 
    width:0px; height:3px; background-color:#f00;
    text-indent:-9999px; 
    overflow:hidden; 
    position:absolute; top:0; left:0; 
    transition:all 0s;
}
.slideInner .slick-dots li.slick-active button { 
    width:100px; 
    transition:all 2s;
}
.slideOuter { position:relative }
.slideOuter .plpa {
    position:absolute; bottom:40px;
    left:50%; border:none;
    font-size:30px;
    color:#fff; margin-left:230px; 
}


/* 두번째 박스(스킬 그래프) */
.skillContainer { height:100%; text-align:center; padding:10% 10% 10% 20% }
.skillContainer > div {
    height:80px; 
    width:100%; margin:30px 0; 
    border:1px solid #000;
    position:relative; 
    box-shadow:0px 0px 10px #f00;
    border-radius:50px;
}
.skillContainer > div > p {
    position:absolute; right:100%; top:50%; transform:translate(-20px, -50%);
    font-size:20px; text-align:center; }
.skillContainer > div > .score { position:absolute; left:0; top:0; 
    height:100%; transition:all 0.5s;  
    border-radius:50px 0 0 50px; 
}
.skillContainer > div.html > .score { width:0%; background:blue; transition-delay: 0s;}
.skillContainer > div.css > .score { width:0%; background:green; transition-delay: 0s;}
.skillContainer > div.script > .score { width:0%; background:orange; transition-delay: 0s;}
.skillContainer > div.jquery > .score { width:0%; background:pink; transition-delay: 0s;}
.skillContainer > div.react > .score { width:0%; background:brown; transition-delay: 0s;}
.skillContainer> div.html.on > .score { width:70%; transition-delay: 0s; }
.skillContainer> div.css.on > .score { width:60%;  transition-delay: 0.2s; }
.skillContainer> div.script.on > .score { width:80%; transition-delay: 0.4s; }
.skillContainer> div.jquery.on > .score { width:60%; transition-delay: 0.6s; }
.skillContainer> div.react.on > .score { width:50%;  transition-delay: 0.8s; }

.skillContainer > div > .score > .myscore {
    position:absolute; right:10px; 
    top:50%; color:#fff; 
    transform:translateY(-50%);
    font-size:20px; opacity:1; 
}